<div class="about_container">
  <div class="head_container">
    <div class="head_container_inner">
      <div class="head_container_inner_first">
        <div class="badge">
          <div class="circle"></div>
          <span class="empowering__span">Welcome to Generative AI Councils</span>
        </div>
        <h1 style="font-size: 64px; font-family: Inter; margin-top: 15px; margin-bottom: 15px;">Where Innovation Meets
          Impact</h1>
        <button class="button" style="margin-top: 32px;">
          <span class="button-span">Find out if you qualify ></span>
        </button>
      </div>
      <div class="head_container_inner_second">
        <p style="color: #636B80;font-family: Open Sans; font-size: 24px; line-height: 32px;">Driving AI innovation
          globally, we unite researchers and professionals to shape the future.</p>
      </div>
    </div>
    <div class="header_feedback">
      <div class="feedback_inner">
        <p class="head_p_feedback">Our community</p>
        <h2 class="head_h1_feedback">3M +</h2>
      </div>
      <div class="feedback_inner">
        <p class="head_p_feedback">Happy members</p>
        <h2 class="head_h1_feedback">1342+</h2>
      </div>
      <div class="feedback_inner">
        <p class="head_p_feedback">Success stories</p>
        <h2 class="head_h1_feedback">1500+</h2>
      </div>
    </div>
  </div>
  <div class="first_goal">
    <div class="first_goal_inner">
      <div class="badge">
        <div class="circle"></div>
        <span class="empowering__span">Our Guiding Mission</span>
      </div>
      <h2 class="first_goal_inner_h2">Empowering global progress and equity through AI for a sustainable, better
        future</h2>
      <p class="first_goal_inner_p2">We're dedicated to propelling AI research, advocating for ethical practices, and
        nurturing a global network of AI pioneers. Our belief in AI's power to address complex challenges drives our
        commitment to a more equitable and sustainable future.</p>
    </div>
    <div class="first_goal_inner2">
      <img style="height: 480px; width: 520px"
           src="https://s3-alpha-sig.figma.com/img/b0c9/8336/b37395d523f092fc655526e2e1750e90?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E19-GGzWz5b~JtciZg5kY0jFW63Hynv5AWkbHlfPc6P2k96KdZemNQD0ccdbWBn7ca7b58Z15-moFVGRjW~pDWzY7235NbuFMq6MH~TbpjkEHOEPPV44ttks~iRBOdgUDGbJFt5BZmyT9pLW7na~ySuZIu5WQfQtDt6U2DpW~MEVa603h6lH1iSZncv0mYM04MKKtDw4StKBKp7FZfd-gBtcVmzKjnS7w9I~ypKHn1A8e1lIuUNmcdrQz8D~L3DDLggp5gYZ3-KRPgKdEBcI0ZEV060pUojfhcVitFFjjUz9-PS8vaY9DJ4EJU7mZpLfq~777CeF1J~x2AlcklZH1w__"/>
    </div>
  </div>
  <div class="second_goal">
    <div class="second_goal_inner">
      <div class="badge" style="border: 1px solid #E1E8FF;">
        <div class="circle"></div>
        <span style="color: #E1E8FF" class="empowering__span">Our Guiding Mission</span>
      </div>
      <h2 class="second_goal_inner_h2">Empowering global progress and equity through AI for a sustainable, better
        future</h2>
      <p class="second_goal_inner_p2">We're dedicated to propelling AI research, advocating for ethical practices, and
        nurturing a global network of AI pioneers. Our belief in AI's power to address complex challenges drives our
        commitment to a more equitable and sustainable future.</p>
    </div>
    <div class="second_goal_inner2">
      <img style="height: 480px; width: 520px"
           src="https://s3-alpha-sig.figma.com/img/6d4e/de51/6f8d5c4ab85dc588155c0f2d987c7da7?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dDl4pqC3udFfCGIQ7gaxwXGZbHghjnTlgmO5E0HY9xd0f4ckZqMXTFBxScaPCaWUS0ACiwtZOBj~-BigNj9qoECqdDpwnzXElBw4fYa6mOC7hrQ3zbkQUB~dymn~eUqbZYIrs2zkMgrnnG-wAifkbg85-VJiHRfH9Bq7eLSk-tIceD-3tHZjAlV5Apx51am~rTuRZfnpO4Uh~iACZFoKd6s8ea~gDuzcpm8k2CswPK2qGlHb0sASMqHpD9tbGEpAqmGdhWqhcKsktyU61aKcgPFp3G0RiQt06poGCL0nUz1VllNlOPt8vHls2yMS07nL0E9G3JppO9z3ByTC1anOqg__"/>
    </div>
  </div>

  <!--  fef-->
  <div class="main_guid_container">
    <div class="guiding_container">
      <div class="badge">
        <div class="circle"></div>
        <span class="empowering__span">Leadership at the Helm</span>
      </div>

      <h2 class="first_guiding_inner_h2">Visionaries Guiding Our Journey</h2>
      <p class="first_guiding_inner_p2">Our leadership team, with diverse expertise in AI research, ethics, and
        innovation, ensures we stay ahead. Their guidance is pivotal in maintaining our status as pioneers in AI.</p>
    </div>

    <div class="position_container">
      <div class="position_container_inner">
        <h2 class="position_container_inner_h2">01</h2>
        <p class="position_container_inner_p1">Cody Fisher</p>
        <p class="position_container_inner_p2">CEO</p>
      </div>
      <div class="position_container_inner">
        <h2 class="position_container_inner_h2">02</h2>
        <p class="position_container_inner_p1">Jerome Bell</p>
        <p class="position_container_inner_p2">Vice President Operations</p>
      </div>
      <div class="position_container_inner">
        <h2 class="position_container_inner_h2">03</h2>
        <p class="position_container_inner_p1">Eleanor Pena</p>
        <p class="position_container_inner_p2">Account Executive</p>
      </div>
      <div class="position_container_inner">
        <h2 class="position_container_inner_h2">04</h2>
        <p class="position_container_inner_p1">Kristin Watson</p>
        <p class="position_container_inner_p2">Content Manager</p>
      </div>
      <div class="position_container_inner">
        <h2 class="position_container_inner_h2">05</h2>
        <p class="position_container_inner_p1">Ralph Edwards</p>
        <p class="position_container_inner_p2">Social Media Manager</p>
      </div>
    </div>
  </div>

  <div class="call_container">
    <h2 class="call_container_h2">Fuel your passion for AI and enrich your life — become part of our expansive AI community!</h2>
    <button class="button" style="margin-top: 32px;">
      <span class="button-span">Find out if you qualify ></span>
    </button>

  </div>

  <div class="second_goal" style="background-color: #417BFE;">
    <div class="second_goal_inner">
      <div class="badge" style="border: 1px solid #E1E8FF;">
        <div class="circle"></div>
        <span style="color: #E1E8FF" class="empowering__span">Contact us</span>
      </div>
      <h2 class="second_goal_inner_h2">Do you have some coming questions?Write to us!</h2>
    </div>
    <div style="background-color: #E1E8FF; height: 99%;  border-top-left-radius: 20px; /* радиус закругления для левого верхнего угла */
  border-bottom-left-radius: 20px;" class="second_goal_inner2">
      <div class="contact-form">
        <form  action="#">
<!--          <label for="name"></label>-->
          <input style="margin-top: 135px;" class="custom-input" type="text" id="name" name="name" placeholder="Your name *" required>

<!--          <label for="phone">Phone number *</label>-->
          <input style="margin-top: 35px;" class="custom-input" type="tel" id="phone" name="phone" placeholder="Phone number *" required>

<!--          <label for="email">Email *</label>-->
          <input style="margin-top: 35px;" class="custom-input" type="email" id="email" placeholder="Email *" value="" required>

<!--          <label for="linkedin">LinkedIn</label>-->
          <input style="margin-top: 35px;" class="custom-input" type="url" id="linkedin" placeholder="LinkedIn">

<!--          <label for="question">Your question *</label>-->
          <input style="margin-top: 35px; margin-bottom: 35px;" class="custom-input" id="question" name="question" placeholder="Your question *" required>

          <button type="reset" class="button" style="margin-top: 32px;">
            <span class="button-span">Send request</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
