<div class="about_container">
  <div class="head_container">
    <div class="head_container_inner">
      <div class="head_container_inner_first">
        <p>Welcome to Generative AI Councils</p>
        <h1>Where Innovation Meets Impact</h1>
        <button>Find out if you qualify</button>
      </div>
      <div class="head_container_inner_second">
        <p>Driving AI innovation globally, we unite researchers and professionals to shape the future.</p>
      </div>
    </div>
    <div class="header_feedback">
      <div class="feedback_inner">
        <p>Our community</p>
        <h2>3M +</h2>
      </div>
      <div class="feedback_inner">
        <p>Happy members</p>
        <h2>1342+</h2>
      </div>
      <div class="feedback_inner">
        <p>Success stories</p>
        <h2>1500+</h2>
      </div>
    </div>
  </div>
  <div class="first_goal">
    <div class="first_goal_inner">
      <p class="first_goal_inner_p">Our Guiding Mission</p>
      <h2 class="first_goal_inner_h2">Empowering global progress and equity through AI for a sustainable, better
        future</h2>
      <p class="first_goal_inner_p2">We're dedicated to propelling AI research, advocating for ethical practices, and
        nurturing a global network of AI pioneers. Our belief in AI's power to address complex challenges drives our
        commitment to a more equitable and sustainable future.</p>
    </div>
    <div class="first_goal_inner2">
      <img style="height: 480px; width: 520px"
           src="https://s3-alpha-sig.figma.com/img/b0c9/8336/b37395d523f092fc655526e2e1750e90?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YHHh1k8DhRtcDAffOZ6T8zMxZ3NmtsghfvRVWvHu5e6yXwShh1wpGLi7X4FjqM~xt8T7Ku51~JD8rFUfk1sCRUotKwOf4Au2vUlhsOexThHkz1S2A6TarOpQd7rWPuHCnhqIpjqPoaSunhmSuHKMgaT-O2QEDKUYiSfAO7Q1XcbMS7PMFYqjkdZLoq8yUODRhTCwLW6MW-LNirlJueC6BG4zkf6RNpNl~RubgZO9umUzajTikiMT6xDOEv2hM8ai5Gwh1pLS-jtSmp6pmNtyo-dH5n8MkgXIzbQY3BpU9P3WvPuz70nkvBfQSYPW~hx26Cwq9i9IXrdOOMoL9leWcg__"/>
    </div>
  </div>
  <div class="second_goal">
    <div class="second_goal_inner">
      <p class="second_goal_inner_p">Our Guiding Mission</p>
      <h2 class="second_goal_inner_h2">Empowering global progress and equity through AI for a sustainable, better
        future</h2>
      <p class="second_goal_inner_p2">We're dedicated to propelling AI research, advocating for ethical practices, and
        nurturing a global network of AI pioneers. Our belief in AI's power to address complex challenges drives our
        commitment to a more equitable and sustainable future.</p>
    </div>
    <div class="second_goal_inner2">
      <img style="height: 480px; width: 520px"
           src="https://s3-alpha-sig.figma.com/img/6d4e/de51/6f8d5c4ab85dc588155c0f2d987c7da7?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lmLd~dYEmzevPhrekUDE2J5Gso~keubnn~cZzKWHcucZqaSaoLSFwvG7WlEtebYCOs5WFIFjYaQ2Jizau4ENOnU8VjlvWAMrYxR~WcTiVVNEVOQt9JmGuEAiEsBj-AMqvV~Q1EaT8Mv~dSZ1eaKpMinC64aXoge5SmqMf-mf1Mo2gTEk73meiOXrlT5kYT7-3LzYFVnRikG1xO95JYAo-Ce4Y9RCpaQjHTeTKi-rBbZXojIH1xc2nXD2rumz1piArQjFWk4wxd-mF~tthISVRpg7nOi1~MHNzgOtVaNbZgNu9nb8TxAXj2ztomp87D95ktcGyTiBkXGkN86VLMnq0A__"/>
    </div>
  </div>
  <div class="guiding_container">
    <p class="first_guiding_inner_p">Our Guiding Mission</p>
    <h2 class="first_guiding_inner_h2">Visionaries Guiding Our Journey</h2>
    <p class="first_guiding_inner_p2">Our leadership team, with diverse expertise in AI research, ethics, and
      innovation, ensures we stay ahead. Their guidance is pivotal in maintaining our status as pioneers in AI.</p>
  </div>
</div>
