<div class="head_container">

  <div class="badge__body">
    <p class="badge__text">Questions? <a href="#" style="text-decoration: none;" class="badge__text bold">Contact us</a></p>
  </div>
  <div class="header">
    <div class="logo-box">
      <img class="logo-image" src="./assets/img/logoCouncil.svg" alt="logo-council">
      <div class="logo-desc">
        <h2 class="logo-up">Generative <span style="color: #12A47F">AI</span></h2>
        <h3 class="logo-council">Councils</h3>
      </div>
    </div>
    <div class="links_box">
      <a routerLinkActive="active" class="nav-link" routerLink="home" (click)="scrollToBegin()">Home</a>
      <a routerLinkActive="active" class="nav-link" routerLink="about" (click)="scrollToBegin()">About us</a>
      <a class="nav-link" routerLink="home">Membership</a>
      <a class="nav-link" routerLink="home">Events</a>
      <a class="nav-link" routerLink="home">Success stories</a>
      <a class="nav-link" routerLink="home">News</a>
    </div>
    <div class="buttons_box">
      <button class="button2"><span class="button-span">Login</span></button>
      <button class="button" (click)="navigateToForm()">
        <span class="button-span">Do I qualify?</span></button>
    </div>

  </div>
</div>
