/*
====================================
Я знаю что использовать размеры в
пикселях сейчас не лучшая идея, но
это уже потом пересмотрю.
====================================
 */

/*
HEADER BAGE
*/

.badge__body {
  background-color: #417BFE;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.badge__text {
  font-family: "Open Sans";
  font-size: 16px;
  color: #FFFFFF;
}


.head_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие фона */
  z-index: 1000; /* Высокий z-index для того, чтобы быть поверх других элементов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Небольшая тень для визуального отделения */
}


/*
  HEADER COMPONENT
 */
.header {
  height: 75px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
/*
  LOGO BOX
 */
.logo-box {
  display: flex;
  width: 30%;
}

.logo-image {
  height: 60px;
  width: 60px;
}

.logo-desc {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-up {
  margin: 0;
  color: #002223;
}

.logo-council {
  margin: 0;
  color: #426566;
}

/*
  NAV Text
*/
.links_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-item {

}

.nav-link {
  text-decoration: none;
  color: #636B80;
}

.activated {
  color: #0A142A;
  font-weight: bold;
}


.buttons_box{
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.button2 {
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(65, 123, 254, 1);
  border-radius: 100px;
  padding: 15px 24px 15px 24px;
  color: rgba(65, 123, 254, 1);
}

.button2:hover {
  color: white;
  background-color: rgba(65, 123, 254, 1);
}

