<div class="head_container">

  <div style="background-color: #417BFE; color: #FFFFFF; height: 40px; width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <p>Questions? <a href="#" style="text-decoration: none; color: #FFFFFF;" class="bold">Contact us</a></p>
  </div>
  <div class="header">
    <div class="logo-box">
      <img class="logo-image" src="./assets/img/logoCouncil.svg" alt="logo-council">
      <div class="logo-desc">
        <h2 class="logo-up">Generative <span style="color: #12A47F">AI</span></h2>
        <h3 class="logo-council">Councils</h3>
      </div>
    </div>
    <div class="links_box">
      <a class="nav-link" routerLink="home">Home</a>
      <a class="nav-link" routerLink="about">About us</a>
      <a class="nav-link" routerLink="home">Membership</a>
      <a class="nav-link" routerLink="home">Events</a>
      <a class="nav-link" routerLink="home">Success stories</a>
      <a class="nav-link" routerLink="home">News</a>
    </div>
    <div class="buttons_box">
      <button class="round-button">Login</button>
      <button class="round-button2">Do I qualify?</button>
    </div>

  </div>
</div>
